:root {
  --primary: #37517e;
  --smooth: all 0.4s;
}

* {
  padding: 0;
  margin: 0;
}

.top {
  color: white !important;
  background-color: var(--primary);
}

.top a {
  color: white !important;
  text-transform: capitalize;
}

.anim {
  animation: move 1s linear infinite alternate;
}

.text-blue {
  color: var(--primary);
}

.bg-blue {
  background-color: var(--primary);
}

.gray {
  width: 15%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
  position: relative;
}

.blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  background-color: var(--bs-info);
  width: 30%;
  margin: auto;
}

@keyframes move {
  to {
    transform: translateY(-10px);
  }
}

.text-sm {
  font-size: 0.8rem;
}

.my-img {
  filter: grayscale(100%);
  transition: all 0.4s;
}

.my-img:hover {
  filter: grayscale(0);
  scale: 1.1;
}

.img-background {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://bootstrapmade.com/demo/templates/Arsha/assets/img/cta-bg.jpg")
      fixed;
  color: white;
}

.my-btn {
  transition: var(--smooth);
  font-weight: bold;
}

.my-btn:hover {
  background-color: var(--bs-info);
  color: white;
}

.bottom-section {
  bottom: 0;
  transition: var(--smooth);
  transform: translateY(80px);
  background-color: rgba(255, 255, 255, 0.6);
  /* opacity: 0; */
  /* z-index: -3; */
}

.my-image {
  overflow: hidden;
}

.my-image img {
  /* margin: 0 !important; */
}

.my-image:hover .bottom-section {
  transform: translateY(0);
  opacity: 1;
  z-index: 3;
}

@media only screen and (max-width: 992px) {
  .front {
    flex-direction: column-reverse;
  }

  .my-img2 {
    margin: auto;
  }
}
